* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;




}

.card {
    position: relative;
    width: 33%;


}

.card img {
    width: 100%;
    height: 100%;

}

.card-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 98, 58, 0.9);
    opacity: 0;
    color: white;
    transition: 0.3s;
}   

.card .card-content:hover {
    opacity: 0.9;
}



@media (max-width: 576px)  {
    .card{

        width: 100%;
    }

}

@media (max-width: 992px){

        .card{

            width: 50%;
        }

}
